.grid {
    margin: 20px 0 0;
}

/* BUTTON */
.custom-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  
  .custom-button:hover {
    background-color: #455ca0;
  }
  
  .custom-button:focus {
    outline: none;
  }
  

/* ANIMATION SPEED INPUT */
.custom-slider-container {
  margin-top: 20px;
}

.custom-slider{
  width: 100%;
  background-color: #80f690;
  
}


.slider-container {
  position: relative;
  width: 12%;
  margin: 0 auto;
}

.slider-container .slider-label {
  display: none;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
}

.slider-container:hover .slider-label {
  display: block;
}
